=begin
#Flagr

#Flagr is a feature flagging, A/B testing and dynamic configuration microservice. The base path for all the APIs is \"/api/v1\". 

OpenAPI spec version: 1.1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module Flagr
  class ConstraintApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param body create a constraint
    # @param [Hash] opts the optional parameters
    # @return [Constraint]
    def create_constraint(flag_id, segment_id, body, opts = {})
      data, _status_code, _headers = create_constraint_with_http_info(flag_id, segment_id, body, opts)
      data
    end

    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param body create a constraint
    # @param [Hash] opts the optional parameters
    # @return [Array<(Constraint, Fixnum, Hash)>] Constraint data, response status code and response headers
    def create_constraint_with_http_info(flag_id, segment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConstraintApi.create_constraint ...'
      end
      # verify the required parameter 'flag_id' is set
      if @api_client.config.client_side_validation && flag_id.nil?
        fail ArgumentError, "Missing the required parameter 'flag_id' when calling ConstraintApi.create_constraint"
      end
      if @api_client.config.client_side_validation && flag_id < 1
        fail ArgumentError, 'invalid value for "flag_id" when calling ConstraintApi.create_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling ConstraintApi.create_constraint"
      end
      if @api_client.config.client_side_validation && segment_id < 1
        fail ArgumentError, 'invalid value for "segment_id" when calling ConstraintApi.create_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ConstraintApi.create_constraint"
      end
      # resource path
      local_var_path = '/flags/{flagID}/segments/{segmentID}/constraints'.sub('{' + 'flagID' + '}', flag_id.to_s).sub('{' + 'segmentID' + '}', segment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Constraint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConstraintApi#create_constraint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param constraint_id numeric ID of the constraint
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_constraint(flag_id, segment_id, constraint_id, opts = {})
      delete_constraint_with_http_info(flag_id, segment_id, constraint_id, opts)
      nil
    end

    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param constraint_id numeric ID of the constraint
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_constraint_with_http_info(flag_id, segment_id, constraint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConstraintApi.delete_constraint ...'
      end
      # verify the required parameter 'flag_id' is set
      if @api_client.config.client_side_validation && flag_id.nil?
        fail ArgumentError, "Missing the required parameter 'flag_id' when calling ConstraintApi.delete_constraint"
      end
      if @api_client.config.client_side_validation && flag_id < 1
        fail ArgumentError, 'invalid value for "flag_id" when calling ConstraintApi.delete_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling ConstraintApi.delete_constraint"
      end
      if @api_client.config.client_side_validation && segment_id < 1
        fail ArgumentError, 'invalid value for "segment_id" when calling ConstraintApi.delete_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'constraint_id' is set
      if @api_client.config.client_side_validation && constraint_id.nil?
        fail ArgumentError, "Missing the required parameter 'constraint_id' when calling ConstraintApi.delete_constraint"
      end
      if @api_client.config.client_side_validation && constraint_id < 1
        fail ArgumentError, 'invalid value for "constraint_id" when calling ConstraintApi.delete_constraint, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/flags/{flagID}/segments/{segmentID}/constraints/{constraintID}'.sub('{' + 'flagID' + '}', flag_id.to_s).sub('{' + 'segmentID' + '}', segment_id.to_s).sub('{' + 'constraintID' + '}', constraint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConstraintApi#delete_constraint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param [Hash] opts the optional parameters
    # @return [Array<Constraint>]
    def find_constraints(flag_id, segment_id, opts = {})
      data, _status_code, _headers = find_constraints_with_http_info(flag_id, segment_id, opts)
      data
    end

    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Constraint>, Fixnum, Hash)>] Array<Constraint> data, response status code and response headers
    def find_constraints_with_http_info(flag_id, segment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConstraintApi.find_constraints ...'
      end
      # verify the required parameter 'flag_id' is set
      if @api_client.config.client_side_validation && flag_id.nil?
        fail ArgumentError, "Missing the required parameter 'flag_id' when calling ConstraintApi.find_constraints"
      end
      if @api_client.config.client_side_validation && flag_id < 1
        fail ArgumentError, 'invalid value for "flag_id" when calling ConstraintApi.find_constraints, must be greater than or equal to 1.'
      end

      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling ConstraintApi.find_constraints"
      end
      if @api_client.config.client_side_validation && segment_id < 1
        fail ArgumentError, 'invalid value for "segment_id" when calling ConstraintApi.find_constraints, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/flags/{flagID}/segments/{segmentID}/constraints'.sub('{' + 'flagID' + '}', flag_id.to_s).sub('{' + 'segmentID' + '}', segment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Constraint>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConstraintApi#find_constraints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param constraint_id numeric ID of the constraint
    # @param body create a constraint
    # @param [Hash] opts the optional parameters
    # @return [Constraint]
    def put_constraint(flag_id, segment_id, constraint_id, body, opts = {})
      data, _status_code, _headers = put_constraint_with_http_info(flag_id, segment_id, constraint_id, body, opts)
      data
    end

    # @param flag_id numeric ID of the flag
    # @param segment_id numeric ID of the segment
    # @param constraint_id numeric ID of the constraint
    # @param body create a constraint
    # @param [Hash] opts the optional parameters
    # @return [Array<(Constraint, Fixnum, Hash)>] Constraint data, response status code and response headers
    def put_constraint_with_http_info(flag_id, segment_id, constraint_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConstraintApi.put_constraint ...'
      end
      # verify the required parameter 'flag_id' is set
      if @api_client.config.client_side_validation && flag_id.nil?
        fail ArgumentError, "Missing the required parameter 'flag_id' when calling ConstraintApi.put_constraint"
      end
      if @api_client.config.client_side_validation && flag_id < 1
        fail ArgumentError, 'invalid value for "flag_id" when calling ConstraintApi.put_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'segment_id' is set
      if @api_client.config.client_side_validation && segment_id.nil?
        fail ArgumentError, "Missing the required parameter 'segment_id' when calling ConstraintApi.put_constraint"
      end
      if @api_client.config.client_side_validation && segment_id < 1
        fail ArgumentError, 'invalid value for "segment_id" when calling ConstraintApi.put_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'constraint_id' is set
      if @api_client.config.client_side_validation && constraint_id.nil?
        fail ArgumentError, "Missing the required parameter 'constraint_id' when calling ConstraintApi.put_constraint"
      end
      if @api_client.config.client_side_validation && constraint_id < 1
        fail ArgumentError, 'invalid value for "constraint_id" when calling ConstraintApi.put_constraint, must be greater than or equal to 1.'
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ConstraintApi.put_constraint"
      end
      # resource path
      local_var_path = '/flags/{flagID}/segments/{segmentID}/constraints/{constraintID}'.sub('{' + 'flagID' + '}', flag_id.to_s).sub('{' + 'segmentID' + '}', segment_id.to_s).sub('{' + 'constraintID' + '}', constraint_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Constraint')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConstraintApi#put_constraint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
